@model PBL3.Models.Product_View_Detail
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Home -->
<link href="~/Content/Web/Product.css" rel="stylesheet" type="text/css"/>
<div class="home">
    <div class="home_container">
        <div class="home_background" style="background-image:url(images/categories.jpg)"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="home_title">Smart Phones<span>.</span></div>
                            <div class="home_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a ultricies metus. Sed nec molestie eros. Sed viverra velit venenatis fermentum luctus.</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Product Details -->

<div class="product_details">
    <div class="container">
        <div class="row details_row">

            <!-- Product Image -->
            <div class="col-lg-6">
                <div class="details_image">
                    <div class="details_image_large"><img src="@Model.imageName" style="height: 400px" alt="">
                    </div>
                    <div class="details_image_thumbnails d-flex flex-row align-items-start justify-content-between">
                        <div class="details_image_thumbnail active" data-image="images/details_1.jpg"><img src="images/details_1.jpg" alt=""></div>
                        <div class="details_image_thumbnail" data-image="images/details_2.jpg"><img src="images/details_2.jpg" alt=""></div>
                        <div class="details_image_thumbnail" data-image="images/details_3.jpg"><img src="images/details_3.jpg" alt=""></div>
                        <div class="details_image_thumbnail" data-image="images/details_4.jpg"><img src="images/details_4.jpg" alt=""></div>
                    </div>
                </div>
            </div>

            <!-- Product Content -->
            <div class="col-lg-6">
                <div class="details_content" style="color: black; font-size: 20px;">
                    <div style="color:blue; font-weight:700; font-family: 'Times New Roman', Times, serif; font-size: 35px">@Model.trademark</div>
                    <div style="font-size: 25px">@Model.name</div>
                    <div style="font-weight: bolder; font-family: sans-serif, ' Helvetica Neue', 'Lucida Grande' , Arial; font-stretch: expanded;">@Model.Price.ToString()</div>

                    <div style="margin-top: 10px">Thông tin sản phẩm: @Model.productinfo</div>

                    <div style="margin-top: 10px">Số lượng: @Model.remainquantity</div>
                    <div class="product_quantity_container" style="margin-top: 70px">
                        <form action="/Product/RedirectType" method="post">
                            <div style="display: inline-block; vertical-align: top; padding: 0px; border: 2px solid black; border-radius: 5px; height: 61px">
                                <label class="quantity_input"><input id="quantity_input" name="quantity_input" type="number" pattern="[0-9]*" value="1" onkeydown="SaveOld()" onkeyup="Validate()" /></label>
                                <div style="display:inline-block; height:57px;">
                                    <p class="button-quantity" id="up-button" onclick="Btnc('up-button')">+</p>
                                    <p class="button-quantity" id="down-button" onclick="Btnc('down-button')">-</p>
                                </div>
                                <label><input type="text" id="product" name="id" style="display: none" value="@Model.id" /></label>
                            </div>
                            <div style="border: 2px solid black; height:61px; border-radius:5px; display: inline-block">
                                <input class="button cart_button" name="type" type="submit" style="height: inherit; background: none; border: none;border-radius:5px; display: inline-block" value="Add to cart" />
                            </div>
                            <div style="border: 2px solid black; height:61px; border-radius:5px; display: inline-block">
                                <input class="button cart_button" name="type" type="submit" style="height: inherit; background: none; border: none;border-radius:5px; display: inline-block" value="Buy" />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="row description_row">
            <div class="col">
                <div class="description_title_container">
                    <div class="description_title">Mô tả</div>
                </div>
                <div class="description_text">
                    <p style="color: black">@Model.desciption</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var check;
    function SaveOld() {
        console.log(check);
        check = document.getElementById("quantity_input").value;
        console.log(check);
    }
    function Validate() {
        var i = document.getElementById("quantity_input");
        console.log(i.value);
        if (i.value < 1 || i.value>@Model.remainquantity) i.value = check;
        console.log(i);
    }
    function Btnc(text) {
        var i = document.getElementById("quantity_input");
        if (text == 'up-button' && i.value<@Model.remainquantity) i.value++;
        if (text == 'down-button' && i.value >1) i.value--;
    }
</script>
