@model PBL3.Models.User
@{ ViewBag.Title = "Trang cá nhân";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<link href="~/Content/Web/Profile.css" rel="stylesheet" />
<div style="padding: 150px 0px 30px 0px; background: #eeeeee">
    <div class="Content">
        <div class="backgroundAva">
            <img src="~/Image/avatarFrofile.png" class="ava" />
        </div>
        <h2 style="padding: 10px; background: pink; color: black">Trang cá nhân</h2>
        <div class="Member-function">
            <div class="cart"></div>
            <div class="order"></div>
            <div class="history"></div>
        </div>
        <div class="Member-function" style="background-color:#eeeeee;">
            <div class="side-menu">
                <div>Thông tin cá nhân</div>
                <div>Đơn hàng</div>
                <div>Số tích lũy</div>
            </div>
            <div class="Content_Menu">
                <div class="back_Content_Menu">
                    <table>
                        <tbody>
                            <tr>
                                <td style="width:49.8%">Tài khoản:</td>
                                <td style="width:49.8%">@Model.username</td>
                            </tr>
                            <tr>
                                <td style="width:49.8%">Tên:</td>
                                <td style="width:49.8%">@Model.name</td>
                            </tr>
                            <tr>
                                <td style="width:49.8%">Giới tính:</td>
                                <td style="width:49.8%">@Model.sex</td>
                            </tr>
                            <tr>
                                <td style="width:49.8%">Số điện thoại:</td>
                                <td style="width:49.8%">@Model.phone</td>
                            </tr>
                            <tr>
                                <td style="width:49.8%">Email:</td>
                                <td style="width:49.8%">@Model.email</td>
                            </tr>
                            <tr>
                                <td style="width:49.8%">Địa chỉ:</td>
                                <td style="width:49.8%">@Model.address</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
