@model PBL3.Models.ListOrderView
@using PBL3.Models
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }
<!-- Home -->

<link href="~/Content/Web/cart.css" rel="stylesheet" />
<link href="~/Content/Web/Order.css" rel="stylesheet" />
<div class="home" style="height: 600px; background: #ffb7abf7;">
    <div class="home_container">
        <div class="home_background" style="background-image:url('/Image/Cart_poster.jpg');background-size:contain"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Trang cá nhân</a></li>
                                    <li>Đơn hàng</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="poster">
    <img src="~/Image/poster4.jpg"/>
</div>
<div class="list_order">
    <div style="padding: 30px">
        <div>
            @foreach (var i in Model.list)
            {
            <div class="FrameOrder">
                <a href="https://localhost:44325/Order/Detail?Orderid=@i.order.id">
                    
                <div class="OrderCode">Đơn hàng: @Encrypt.ToEncrypt("000" + i.order.id)</div>
                    <div class="OrderContent">
                        <img class="Order_image" src="@i.image"></img>
                        <div class="Info2Order">
                            <div style="font-size:24px">
                                @foreach (var io in i.order.orderdetails)
                                {
                                    <span>@io.product.name .</span>
                                }
                            </div>
                            <div>Tổng số hàng: @i.order.orderdetails.Count</div>
                            <div>Thời gian đặt hàng: @i.order.TimeConfirm</div>
                            <div>Địa chỉ giao hàng: @i.order.Person.address</div>
                            <div>Trạng thái: @i.order.status</div>
                        </div>
                        @foreach (var ip in i.order.payments)
                        {
                    <div class="InfoOrder">Tổng tiền: @(Money.Parse(ip.totalPrice).ToString())</div>}
                    </div>
                </a>
                @Html.ActionLink("Hóa đơn", "Index", "Payment", new { orderid = i.order.id }, new { @class = "ToPayment" })
            </div>
            }
        </div>
    </div>
</div>
<div class="poster">
    <img src="~/Image/poster4.jpg" />
</div>
<script src="~/Scripts/Thien_JS/Order_Index.js"></script>