@using PBL3.Models;
@{
    ViewBag.Title = "AllProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List_ProductView list = Model;
}

<link type="text/css" href="~/Content/Web/Home.css" rel="stylesheet" />
<div style="background-color: whitesmoke; margin-top: 50px; padding-top: 80px;">

    <div style="text-align: right; display: block; height: 50px; padding: 0px 50px 40px 0px; background-color: burlywood">
        @using (Html.BeginForm("AllProduct2", "Home", FormMethod.Get, new { style="display:inline-block; margin: 10px;"}))
        {
            <lable title=""></lable>
            <select name="sort" id="sort" title="sắp xếp" onchange="this.form.submit()">
                <option>Thể loại</option>
                @foreach(var item in list.list_categories)
                {
                    <option value="@item.id">@item.name</option>
                }
            </select>
        }
        @using (Html.BeginForm("AllProduct2", "Home", FormMethod.Get, new { style = "display:inline-block; margin: 10px;" }))
        {
            <lable title=""></lable>
            <select name="sort" id="sort" title="sắp xếp" onchange="this.form.submit()">
                <option>Giá</option>
                <option value="Lowtohigh">Thấp đến cao</option>
                <option value="Hightolow">Cao đến thấp</option>
                <option value="Larger03">1.000.000VND trở lên</option>
                <option value="Less03">1.000.000VND trở xuống</option>
                <option value="Less02">100.000VND trở xuống</option>
            </select>
        }
    </div>
    <div style="display: inline-block; color: #bbbbbb; font-size: 15px; margin: 5px 0px 0px 50px; color: black">
        Có @(list.Amount) sản phẩm.
    </div>
    <div style="text-align: center; padding-top: 5px">
        @if (list.data_views.Count == 0)
        {
            <div style="display: block; text-align: center">
                Hiện không có sản phẩm nào.
            </div>
        }
        @foreach (var item in list.data_views)
        {
            <div class="product-display-frame">
                <a href="https://localhost:44325/Product/?name=@item.name&productid=@item.id">
                    <img style="width: 350px; height: 350px; text-align:center; border: 5px solid pink; border-radius:5px" src="@item.imageName" />
                    <div>@item.name</div>
                </a>
                <div style="color:black">@item.Price.ToString()</div>
            </div>
        }
    </div>
    <br />
    <div class="Page-buttons">
        @using (Html.BeginForm("AllProduct", "Home", FormMethod.Get))
        {
            <button name="id" id="First-Page" class="page-button" value="1">First</button>
            <button name="id" class="Previous-Page" value="@(list.CurrentPage-1)"><</button>
            <span id="Three-dot1" class="page-button">...</span>
            <button name="id" class="Previous-Page" value="@(list.CurrentPage-1)">@(list.CurrentPage-1)</button>
            <label id="Current-Page" class="page-button">@(list.CurrentPage)</label>
            <button name="id" class="Next-Page" value="@(list.CurrentPage+1)">@(list.CurrentPage+1)</button>
            <span id="Three-dot2" class="page-button">...</span>
            <button name="id" class="Next-Page" value="@(list.CurrentPage+1)">></button>
            <button name="id" id="Last-Page" class="page-button" value="@(list.AvalMaxPage)">Last</button>
            
        }
    </div>
</div>
<script type="text/javascript" src="~/Scripts/Thien_JS/Home_Index.js"></script>