@model PBL3.Models.Payment_View
@using PBL3.Models
@{
    ViewBag.Title = "New Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/Content/Web/cart.css" rel="stylesheet" />
<link href="~/Content/Web/Order.css" rel="stylesheet" />
<div class="home" style="height:600px">
    <div class="home_container">
        <div class="home_background" style="background-image:url('/Image/Cart_poster.jpg');background-size:contain"></div>
        <div class="home_content_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_content">
                            <div class="breadcrumbs">
                                <ul>
                                    <li><a href="index.html">Trang cá nhân</a></li>
                                    <li>Đơn hàng</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="poster">
    <img src="~/Image/post1.gif" />
</div>
<div class="list_order">
    <div style="padding: 30px">
        <div class="Payment">
            <div class="Title_Payment">
                <div class="Name_Shop" style="font-size: 30px; color: black">HTCC - Beauty</div>
                <div class="Info_account">
                    <div style="text-align: center; font-weight: 600; font-size: 16px">HÓA ĐƠN BÁN HÀNG</div>
                    <div style="margin: 10px 0 10px 30px;">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Địa chỉ: 154 Nguyễn Lương Bằng</td>
                                </tr>
                                <tr>
                                    <td>Số điện thoại: 0909090922</td>
                                </tr>
                                <tr>
                                    <td>Email: BeautyHtcc@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="Payment-Content">
                <div class="ThongTin">Thông tin đơn hàng:</div>
                <table style="width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 50%">Họ tên người mua: </td>
                            <td style="width: 50%">@Model.Account.name</td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Địa chỉ giao hàng: </td>
                            <td style="width: 50%">@Model.Account.address</td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Số điện thoại: </td>
                            <td style="width: 50%">@Model.Account.phone</td>
                        </tr>
                        <tr>
                            <td style="width: 50%">Thời gian xác nhận đơn: </td>
                            <td style="width: 50%">@DateTime.Now</td>
                        </tr>
                    </tbody>
                </table>
                <div class="table">
                    <table>
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Giá<br />(VND)</th>
                                <th>Thành tiền<br />(VND)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var i in Model.LOD)
                            {
                <tr>
                    <td>@(Model.LOD.IndexOf(i)+1)</td>
                    <td>@i.product.name</td>
                    <td>@i.quantity</td>
                    <td>@Money.Parse(i.product.price).ToString()</td>
                    <td>@Money.Parse(i.price).ToString()</td>
                </tr>}
                            <tr>
                                <td colspan="4">Tổng số tiền</td>
                                <td>@Model.TotalPrice.ToString()</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="sign">
                    <div class="sign-right">
                        <div>Người bán hàng<br />(Chữ ký điện tự, Chữ ký số)</div>
                    </div>
                    <div class="sign-left">
                        <div>Người mua hàng<br />(Chữ ký số nếu có)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="poster"></div>
<script src="~/Scripts/Thien_JS/Order_Index.js"></script>