@model PBL3.Models.Payment_View
@{
    ViewBag.Title = "New Payment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Payment</h2>
<div style="margin-top:80px">
    <div style="font-size: 30px; color: black">HTCC - Beauty</div>
    <div>@Model.Account.name</div>
    <div>@Model.Account.address</div>
    <div>@Model.Account.phone</div>
    <div>@DateTime.Now</div>
    @foreach (var i in Model.LOD)
    {
        <div>@i.product.name</div>
        <div>@i.quantity</div>
        <div>@i.product.price.ToString()</div>
        <div>@i.price</div>
    }
    <div>@Model.TotalPrice</div>
    @Html.ActionLink("Go to cart", "Index", "Cart");
</div>