@using PBL3.Models;
@{ ViewBag.Title = "Trang sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> Sort = ViewBag.Sort;
    List_ProductView list = Model; }

<link type="text/css" href="~/Content/Web/Home.css" rel="stylesheet" />
<link href="~/Theme/styles/bootstrap4/bootstrap.min.css" rel="stylesheet" />
<link href="~/Theme/plugins/OwlCarousel2-2.2.1/owl.carousel.css" rel="stylesheet" />
<link href="~/Theme/plugins/OwlCarousel2-2.2.1/owl.theme.default.css" rel="stylesheet" />
<link href="~/Theme/plugins/OwlCarousel2-2.2.1/animate.css" rel="stylesheet" />
<link href="~/Theme/styles/main_styles.css" rel="stylesheet" />
<link href="~/Theme/styles/responsive.css" rel="stylesheet" />

<div class="home" style="height: 550px !important;">
    <div class="home_slider_container">

        <!-- Home Slider -->
        <div class="owl-carousel owl-theme home_slider">

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image: url('/Image/GifCategory_Background_1.gif');"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image: url('/Image/GifCategory_Background_2.gif');"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slider Item -->
            <div class="owl-item home_slider_item">
                <div class="home_slider_background" style="background-image: url('/Image/GifCategory_Background_3.gif');"></div>
                <div class="home_slider_content_container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="home_slider_dots_container">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="home_slider_dots">
                            <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                                <li class="home_slider_custom_dot active">01.</li>
                                <li class="home_slider_custom_dot">02.</li>
                                <li class="home_slider_custom_dot">03.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div style="background-color: whitesmoke; margin-top: 0px; padding-top: 30px;">
    <div style="text-align: right; display: block; height: 50px; padding: 0px 50px 40px 0px; background-color: burlywood">
        
        <div style="display:inline-block; margin: 10px; color: black">
            <label for="search">Search: </label>
            <input name="search" id="search" type="text" class="input-text-box" onchange="searchbar('name-product',this.value)" />
        </div>
        @using (Html.BeginForm("AllProduct2", "Home", FormMethod.Get, new { style = "display:inline-block; margin: 10px;" }))
        {
            
            <lable for="sort1"></lable>
            <select name="sort" id="sort1" title="sắp xếp" onchange="this.form.submit()">
                <option value=" ">Tất cả thể loại</option>
                @foreach(var item in list.list_categories)
                {
                    <option value="@item.id">@item.name</option>
                }
            </select>

            <lable for="sort2"></lable>
            <select name="sort" id="sort2" title="sắp xếp" onchange="this.form.submit()">
                <option value=" ">Mới nhất</option>
                <option value="Lowtohigh">Thấp đến cao</option>
                <option value="Hightolow">Cao đến thấp</option>
                <option value="Larger03">1.000.000VND trở lên</option>
                <option value="Less03">1.000.000VND trở xuống</option>
                <option value="Less02">100.000VND trở xuống</option>
            </select>
        }
    </div>
    <div class="total_product">
        js changpage()
    </div>
    <div style="text-align: center; padding-top: 5px">
        <div id="FrameName" style="display:none">product-display-frame</div>
        <div id="FrameNumber" style="display:none">@list.ProductViewNumber</div>
        @foreach (var item in list.data_views)
        {
            <div class="product-display-frame">
                <a href="https://localhost:44325/Product/?name=@item.name&productid=@item.id">
                    <img style="width: 100%; text-align:center; border: 5px solid pink; border-radius:5px" src="@item.imageName" />
                    <div class="name-product">@item.name</div>
                </a>
                <div style="color:black">@item.Price.ToString()</div>
            </div>
        }
    </div>
    <br />
    <div class="Page-buttons">
        <button name="id" id="First-Page" class="page-button" value="1" onclick="changePage(this.value)">First</button>
        <button name="id" class="Previous-Page" value="0" onclick="changePage(this.value)"><</button>
        <span id="Three-dot1" class="page-button">...</span>
        <button name="id" class="Previous-Page" value="0" onclick="changePage(this.value)">0</button>
        <label id="Current-Page" class="page-button">1</label>
        <button name="id" class="Next-Page" value="2" onclick="changePage(this.value)">2</button>
        <span id="Three-dot2" class="page-button">...</span>
        <button name="id" class="Next-Page" value="2" onclick="changePage(this.value)">></button>
        <button name="id" id="Last-Page" class="page-button" value="@(list.AvalMaxPage)" onclick="changePage(this.value)">Last</button>
    </div>
</div>
<script>
    var checkItem = document.getElementsByTagName("option");
    for (var i of checkItem) {
        if (i.value == "@Sort[0]" || i.value == "@Sort[1]") {
            i.selected = true;
        }
        else i.selected = false;
    }
</script>
<script src="~/Scripts/Thien_JS/Home_Index.js" type="text/javascript"></script>