@model PBL3.Models.PBL3DataContext

@using PBL3.Models
@{ ViewBag.Title = "Category";
                Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
                List<Category> lc = Model.Categories.ToList();
                List<TradeMark> lt = Model.TradeMarks.ToList();
                User a = (User)Session[PBL3.Controllers.RouteController.Account_Session];
                List_CustomerView list2 = ViewBag.ShowCustomer;
                List_ProductView list = ViewBag.ProductTotal;

}

<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand">
        <h2><span class="fa-solid fa-helicopter-symbol"></span><span>HTCC</span></h2>
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="~/AdminHome/Index">
                    <span class="fa-solid fa-store"></span>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="~/AdminHome/Member">
                    <span class="fa-solid fa-user"></span>
                    <span>Member</span>
                </a>
            </li>
            <li>
                <a href="~/AdminHome/Category" class="active">
                    <span class="fa-solid fa-list"></span>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="~/AdminHome/Product">
                    <span class="fa-solid fa-bag-shopping"></span>
                    <span>Product</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fa-solid fa-bars"></span>
            </label>
            @ViewBag.Title 
        </h2>

        <div class="search-wrapper">
            <span class="fa-solid fa-magnifying-glass"></span>
            <input type="search" placeholder="Search here" />
        </div>

        <div class="user-wrapper">
            <img src="~/Theme/images/profile.png" alt="" width="30px" height="30px">
            <div>
                <li><a href="#">@a.name</a></li>
                <small>Admin</small>
            </div>
        </div>
    </header>

    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>@list2.data_views.Count</h1>
                    <span>Members</span>
                </div>
                <div>
                    <span class="fa-solid fa-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>@list.data_views.Count</h1>
                    <span>Products</span>
                </div>
                <div>
                    <span class="fa-solid fa-cart-shopping"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>200</h1>
                    <span>Order</span>
                </div>
                <div>
                    <span class="fa-solid fa-bag-shopping"></span>
                </div>
            </div>


        </div>

        <div class="recent-grid_2">
            <div class="projects_2">
                <div class="card_2">
                    <div class="card-header_2">
                        <h3>Categories</h3>

                        <button>
                            See all <span class="fa-solid fa-arrow-right">
                            </span>
                        </button>
                    </div>

                    <div class="card-body_2">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mydatatable" id="table" style="width: 100%"
                                   data-toggle="table"
                                   data-id-table="advancedTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Part of body</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in lc)
                                    {
                        <tr>
                            <td>@i.id</td>
                            <td>@i.name</td>
                            <td>@i.partofbody</td>
                        </tr>
}





                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projects_3">
                <div class="card_3">
                    <div class="card-header_3">
                        <h3>Trademarks</h3>

                        <button>
                            See all <span class="fa-solid fa-arrow-right">
                            </span>
                        </button>
                    </div>

                    <div class="card-body_3">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mydatatable" id="table" style="width: 100%"
                                   data-toggle="table"
                                   data-id-table="advancedTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in lt)
                                    {
                                        <tr>
                                            <td>@i.id</td>
                                            <td>@i.name</td>
                                        </tr>
                                    }




                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>