@model PBL3.Models.PBL3DataContext

@using PBL3.Models
@{ ViewBag.Title = "Thể loại";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<Category> lc = Model.Categories.ToList();
    List<TradeMark> lt = Model.TradeMarks.ToList();
    User a = (User)Session[PBL3.Controllers.RouteController.Account_Session];
    List_CustomerView list2 = ViewBag.ShowCustomer;
    List_ProductView list = ViewBag.ProductTotal; }
<div class="main-content">
    <div class="Action-page-name" style="display:none">Category</div>
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fa-solid fa-bars"></span>
            </label>
            @ViewBag.Title
        </h2>

        <div class="search-wrapper">
            <span class="fa-solid fa-magnifying-glass"></span>
            <input type="search" placeholder="Tìm kiếm" />
        </div>

        <div class="user-wrapper" onclick="menuToggle();">
            <img src="~/Theme/images/profile.png" alt="" width="30px" height="30px">
            <div>
                <h4>@a.name</h4>
                <small>Admin</small>
            </div>
            <div class="menu">
                <ul>
                    <li><span class="fa-solid fa-arrow-right-from-bracket"></span><a href="~/AdminHome/Logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>@list2.data_views.Count</h1>
                    <span>Thành viên</span>
                </div>
                <div>
                    <span class="fa-solid fa-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>@list.data_views.Count</h1>
                    <span>Sản phẩm</span>
                </div>
                <div>
                    <span class="fa-solid fa-cart-shopping"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>200</h1>
                    <span>Đơn đặt hàng</span>
                </div>
                <div>
                    <span class="fa-solid fa-bag-shopping"></span>
                </div>
            </div>
        </div>

        <div class="button">
            <input type="submit" value="Thêm thể loại" id="btn-add-category" style="font-size: 18px;">
            <input type="submit" value="Thêm thương hiệu" id="btn-add-trademark" style="font-size: 18px;">
        </div>

        <div class="recent-grid_2">
            <div class="projects_2">
                <div class="card_2">
                    <div class="card-header_2">
                        <h3>Thể loại</h3>

                        <button>
                            Xem tất cả <span class="fa-solid fa-arrow-right">
                            </span>
                        </button>
                    </div>

                    <div class="card-body_2">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mydatatable" id="table" style="width: 100%"
                                   data-toggle="table"
                                   data-id-table="advancedTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Part of body</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in lc)
                                    {
                        <tr>
                            <td>@i.id</td>
                            <td>@i.name</td>
                            <td>@i.partofbody</td>
                        </tr>
}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="projects_3">
                <div class="card_3">
                    <div class="card-header_3">
                        <h3>Thương hiệu</h3>

                        <button>
                            Xem tất cả <span class="fa-solid fa-arrow-right">
                            </span>
                        </button>
                    </div>

                    <div class="card-body_3">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mydatatable" id="table" style="width: 100%"
                                   data-toggle="table"
                                   data-id-table="advancedTable">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in lt)
                                    {
                        <tr>
                            <td>@i.id</td>
                            <td>@i.name</td>
                        </tr>
}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
</div>

<div class="bg-modal-Y">
    <div class="cards-Y">
        <div class="close-Y">+</div>
        <div class="title-Y">Thêm thể loại</div>
        <div class="add-category-form">
            <form action="/AdminHome/addCategory" method="post">
                <div class="input-box">
                    <span class="category">Category name</span>
                    <input data-val="true"
                           data-val-required="Thể loại bị trống"
                           id="password" name="name" type="text" placeholder="Nhập tên thể loại">
                </div>
                <div class="error" style="height: 36px; padding: 5px 0 5px 0;">
                    <span class="field-validation-valid" data-valmsg-for="name" data-valmsg-replace="true" style="font-size: 18px; color:blue;"></span>
                </div>
                <div class="input-box">
                    <span class="category">Part of body</span>
                    <select data-val="true" data-val-remote="Thể loại bị trùng"
                            data-val-remote-additionalfields="*.partofbody,*.name"
                            data-val-remote-url="/AdminHome/ktraCategory"
                            id="password" name="partofbody" type="text" style="width: 224.71px; height: 36px; border-radius: 8px; border: 1px solid #686de0; border-bottom-width: 2px;">
                        <option></option>
                        <option>Eye</option>
                        <option>Face</option>
                        <option>Lip</option>
                        <option>Body</option>
                    </select>
                </div>
                <div class="error" style="height: 36px; padding-top: 5px;">
                    <span class="field-validation-valid" data-valmsg-for="partofbody" data-valmsg-replace="true" style="font-size: 18px; color:blue;"></span>
                </div>
                <div class="button">
                    <input type="submit" id="add-category" value="Thêm thể loại" style=" margin-top: 5px;">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="bg-modal-Z">
    <div class="cards-Z">
        <div class="close-Z">+</div>
        <div class="title-Z">Thêm Thương Hiệu</div>
        <div class="add-trademark-form">
            <form action="/AdminHome/addTradeMark" method="post">
                <div class="input-box">
                    <span class="trademark" style="padding-top: 4px;">Tên Thương Hiệu</span>
                    <input data-val="true" data-val-remote="Thương hiệu bị trùng"
                           data-val-remote-additionalfields="*.name"
                           data-val-remote-url="/AdminHome/ktratrademark"
                           data-val-required="Thương hiệu bị trống"
                           id="password" name="nametm" type="text" placeholder="Nhập tên thương hiệu">
                </div>
                <div class="error" style="height: 36px; padding-top: 5px;">
                    <span class="field-validation-valid" data-valmsg-for="nametm" data-valmsg-replace="true" style="font-size: 18px; color:blue;"></span>
                </div>
                <div class="button">
                    <input type="submit" id="btn-add-trademark" value="Thêm Thương Hiệu" style=" margin-top: 5px;">
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('btn-add-category').addEventListener('click', function () {
        document.querySelector('.bg-modal-Y').style.display = 'flex';
    });

    document.getElementById('btn-add-trademark').addEventListener('click', function () {
        document.querySelector('.bg-modal-Z').style.display = 'flex';
    });

    document.querySelector('.close-Y').addEventListener('click', function () {
        document.querySelector('.bg-modal-Y').style.display = 'none';
    });

    document.querySelector('.close-Z').addEventListener('click', function () {
        document.querySelector('.bg-modal-Z').style.display = 'none';
    });
</script>