
@using PBL3.Models;
@{ ViewBag.Title = "Thống Kê";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    List<Product> products = Model;
    List_CustomerView list2 = ViewBag.ShowCustomer;
    PBL3DataContext dataContext = new PBL3DataContext();
    List_ProductView list = ViewBag.ProductTotal;
    User a = (User)Session[PBL3.Controllers.RouteController.Account_Session];
}

<div class="main-content">
    <div class="Action-page-name" style="display:none">Dashboard</div>
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="fa-solid fa-bars"></span>
            </label>
            @ViewBag.Title
        </h2>

        <div class="search-wrapper">
            <span class="fa-solid fa-magnifying-glass"></span>
            <input type="search" placeholder="Search here" />
        </div>


        <div class="user-wrapper" onclick="menuToggle();">
            <img src="~/Theme/images/profile.png" alt="" width="30px" height="30px">
            <div>
                <h4>@a.name</h4>
                <small>Admin</small>
            </div>
            <div class="menu">
                <ul>
                    <li><span class="fa-solid fa-arrow-right-from-bracket"></span><a href="~/AdminHome/Logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
        <div class="cards">
            <div class="card-single">
                <div>
                    <h1>@list2.data_views.Count</h1>
                    <span>Thành viên</span>
                </div>
                <div>
                    <span class="fa-solid fa-users"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>@list.data_views.Count</h1>
                    <span>Sản phẩm</span>
                </div>
                <div>
                    <span class="fa-solid fa-cart-shopping"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>200</h1>
                    <span>Đơn đặt hàng</span>
                </div>
                <div>
                    <span class="fa-solid fa-bag-shopping"></span>
                </div>
            </div>

            <div class="card-single">
                <div>
                    <h1>@ViewBag.Total  VNĐ</h1>
                    <span>DOANH THU </span>
                </div>
                <div>
                    <span class="fa-solid fa-wallet"></span>
                </div>
            </div>
        </div>
        <div class="recent-grid">
            <div class="projects">
                <div class="card">
                    <div class="card-header">
                        <h3>Thống Kê</h3>


                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered mydatatable" id="table" style="width: 100%"
                                   data-toggle="table"
                                   data-id-table="advancedTable">
                                <thead>
                                    <tr>
                                        <th data-field="product">Product</th>

                                        <th data-field="quantity">Quantity</th>
                                        <th data-field="quantity">Price</th>
                                        <th data-field="price">Tong Gia</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var i in products)
                                    {
                        <tr>
                            <td>@i.name</td>
                            <td>@(i.quantityInit-i.quantityremain)</td>

                            <td>@i.price</td>
                            <td>@(i.price*(i.quantityInit-i.quantityremain))</td>
                        </tr>}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>

            <div class="members">
                <div class="card">
                    <div class="card-header">
                        <h3>Thành Viên</h3>
                        <a href="~/AdminHome/Member">
                            <span class="fa-solid fa-user"></span>
                            <span>Xem tất cả</span>
                        </a>
                    </div>
                    @foreach (var i in list2.data_views)
                    {
        <div class="member">
            <div class="info">
                <img src="~/Theme/images/img_4.jpg" width="40px"
                     height="40px" alt="">
                <div>
                    <h4>@i.name</h4>
                    <small>@i.phone</small>
                </div>
            </div>
            <div class="details">
                <span class="fa-solid fa-id-card"></span>
            </div>
        </div>}
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    var i = document.getElementsByClassName("form - control form - control - sm");
    var search = i[0];
    search.addEventListener("change", Function() {
        document.getElementById("demo").innerHTML = "Hello World";
    });
</script>

