
@model PBL3.Models.Category
@{
    ViewBag.Title = "addCategory";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>addCategory</h2>
@ViewBag.Message
@using (Html.BeginForm("addCategory", "AdminHome", FormMethod.Post))
{
    @Html.LabelFor(model => model.name)
    @Html.TextBoxFor(model => model.name)
    @Html.LabelFor(model => model.partofbody)
    @Html.TextBoxFor(model => model.partofbody)

    <input type="submit" value="Add Category" />
}
