@model PBL3.Models.Account_Sign_Up

@using PBL3.Models

@{
    ViewBag.Title = "Đổi mật khẩu mới";
    Layout = "~/Views/Shared/_LayoutSignUp.cshtml";
}
<div class="title">Đổi mật khẩu mới</div>

@using (Html.BeginForm("NewPassword", "Login", FormMethod.Post))
{
    <input style="display:none" value="@ViewBag.id" name="id"/>
    <div class="user-details1">
        
    </div>
    <div class="user-details2">
        <div class="input-box">
            <span class="details">Mật khẩu mới</span>
            @Html.PasswordFor(model => model.password, new { id = "password", placeholder = "Enter your password" })
            <br />
            @Html.ValidationMessageFor(model => model.password)
        </div>
        <div class="input-box">
            <span class="details">Xác nhận mật khẩu</span>
            @Html.PasswordFor(model => model.cfpassword, new { placeholder = "Confirm your password" })
            <br />
            @Html.ValidationMessageFor(model => model.cfpassword)
        </div>
    </div>
    <div class="button" style="margin:45px 0px 20px 0px">
        <input type="submit" value="Đổi mật khẩu">
    </div>
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>